<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Test</servlet-name>
  	<display-name>Test</display-name>
  	<description></description>
  	<servlet-class>strunk.controllers.Test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogInController</servlet-name>
  	<display-name>LogInController</display-name>
  	<description></description>
  	<servlet-class>strunk.controllers.LogInController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>FormController</display-name>
  	<servlet-name>FormController</servlet-name>
  	<servlet-class>strunk.controllers.FormController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Test</servlet-name>
  	<url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogInController</servlet-name>
  	<url-pattern>/LogInController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FormController</servlet-name>
  	<url-pattern>/FormController</url-pattern>
  </servlet-mapping>
</web-app>
